<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/pizzaria/tabs/funcionario'"></ion-back-button>
    </ion-buttons>
    <ion-title>editar funcionario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" text-center>
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName="nome" clearInput></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-sm="3">
          <ion-item>
              <ion-label position="floating">Cargo</ion-label>
              <ion-select formControlName="cargo">
                <ion-select-option *ngFor="let cargo of cargos">
                  {{cargo.cargo}}
                </ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Data de nascimento</ion-label>
            <ion-datetime
                formControlName="dataNascimento"
                required>
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-sm="3" text-center>
          <div class="picker">
            <ion-img
              role="button"
              class="image"
              (click)="takePicture()"
              [src]="imageUrl"
              *ngIf="imageUrl"
            ></ion-img>
          </div>
          <p>toque com o dedo na imagen caso queira altera-la</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-sm="3" text-center>
          <ion-button (click)="atualizarFuncionario()" [disabled]="!form?.valid">
            <ion-icon name="checkmark" slot="start"></ion-icon>
            confirmar!
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </form>
</ion-content>
